@model MessageDetailsBindingModel
@inject IUsersService UsersService

@{
    var currentUserId = this.UsersService.GetCurrentUserId();
}

<div class="container-fluid">
    <div class="row">
        <div class="offset-2 col-8">
            <h3 class="text-center mb-5"><a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.AdId">@Model.AdTitle</a></h3>
            @foreach (var message in Model.ViewModels)
            {

                <div class="row">
                    <div class="col-2">
                        @message.Sender
                    </div>
                    <div class="offset-7 col-3">
                        @message.SentOn
                    </div>
                </div>
                <p>
                    @if (message.Sender == this.User.Identity.Name)
                    {
                        <div class="card bg-warning">
                            <div class="card-body">
                                @message.Content
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card bg-success">
                            <div class="card-body">
                                @message.Content
                            </div>
                        </div>
                    }
                </p>
            }
            <form asp-controller="Messages" asp-action="Send" method="post">
                <vc:send-message user-id="@Model.SenderId" seller-id="@Model.SellerId" ad-id="@Model.AdId">
                </vc:send-message>
            </form>
        </div>
    </div>
</div>