@model SendMessageBindingModel

<div class="row">
    <div class="offset-2 col-8">
        <h3>@Model.ViewModel.AdTitle</h3>
        <hr class="hr-sell-me" />
        <h4>Phone Number: @Model.ViewModel.SellerPhone</h4>
        <hr class="hr-sell-me" />
        <h4 class="required">Your message:</h4>
        <hr class="hr-sell-me" />
        <form asp-controller="Messages" asp-action="Send" method="post">
            <div class="form-group">
                <textarea asp-for="InputModel.Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="InputModel.Content" class="text-danger"></span>
                <input asp-for="InputModel.RecipientId" type="hidden" value="@Model.ViewModel.RecipientId" />
                <input asp-for="InputModel.SenderId" type="hidden" value="@Model.ViewModel.SenderId" />
                <span asp-validation-for="InputModel.SenderId" class="text-danger"></span>
                <input asp-for="InputModel.AdId" type="hidden" value="@Model.ViewModel.AdId" />
            </div>
            <div class="row">
                <div class="offset-5 col-2">
                    <button type="submit" class="btn btn-success btn-lg">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}