@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <div class="jumbotron pb-3 pt-3 pl-3 pr-3">
                @for (int i = 0; i < @Model.CategoryViewModels.Count; i += 4)
                {
                    <div class="row justify-content-around my-4">
                        @for (int j = i; j < i + 4; j++)
                        {
                            if (j < @Model.CategoryViewModels.Count)
                            {
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <a asp-controller="Ads" asp-action="AdsByCategory" asp-route-id="@Model.CategoryViewModels[j].Id">
                                        <h5>
                                            <i class="@Model.CategoryViewModels[j].FontAwesomeIcon"></i> @Model.CategoryViewModels[j].Name
                                        </h5>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <h3>Promoted Ads:</h3>
            <div>
                @for (int i = 0; i < @Model.PromotedAdViewModels.Count; i += 4)
                {
                    <div class="row justify-content-start my-3">
                        @for (int j = i; j < i + 4; j++)
                        {
                            if (j < @Model.PromotedAdViewModels.Count)
                            {
                                <vc:promoted-ad-index-page view-model="@Model.PromotedAdViewModels[j]"></vc:promoted-ad-index-page>
                            }
                        }
                    </div>
                }
            </div>
            <h3>Latest Added:</h3>
            <div>
                @for (int i = 0; i < @Model.LatestAddedAdViewModels.Count; i += 4)
                {
                    <div class="row justify-content-start my-3">
                        @for (int j = i; j < i + 4; j++)
                        {
                            if (j < @Model.LatestAddedAdViewModels.Count)
                            {
                                <vc:latest-added-ad-index-page view-model="@Model.LatestAddedAdViewModels[j]"></vc:latest-added-ad-index-page>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
