@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
            <div class="jumbotron pb-3 pt-3 pl-3 pr-3">
                @for (int i = 0; i < @Model.CategoryViewModels.Count; i += 4)
                {
                    <div class="row justify-content-around my-4">
                        @for (int j = i; j < i + 4; j++)
                        {
                            if (j < @Model.CategoryViewModels.Count)
                            {
                                <div class="col-3">
                                    <a asp-controller="Ads" asp-action="AdsByCategory" asp-route-id="@Model.CategoryViewModels[j].Id">
                                        <h5>
                                            <i class="@Model.CategoryViewModels[j].FontAwesomeIcon"></i> @Model.CategoryViewModels[j].Name
                                        </h5>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <h3>Promoted Ads:</h3>
            @for (int i = 0; i < @Model.PromotedAdViewModels.Count; i += 4)
            {
                <div class="row justify-content-between my-3">
                    @for (int j = i; j < i + 4; j++)
                    {
                        if (j < @Model.PromotedAdViewModels.Count)
                        {
                            <div class="col-3 sell-me-container">
                                <div class="row">
                                    <div class="col">
                                        <a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.PromotedAdViewModels[i].Id"><img class="promo-img" src="@Model.PromotedAdViewModels[j].MainPictureUrl" alt="@Model.PromotedAdViewModels[i].Title" /></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <strong><a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.PromotedAdViewModels[i].Id">@Model.PromotedAdViewModels[j].Title</a></strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @Model.PromotedAdViewModels[j].Price $
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>
