@model MyActiveAdsBindingModel

<h3 class="text-center">My Active Ads:</h3>
<h5 class="text-center text-danger mb-3 mt-3">@TempData["SuccessfulUpdateMessage"]</h5>
<hr class="hr-sell-me" />
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="WaitingForApproval">Waiting for approval</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="Rejected">Rejected</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="ArchivedAds">Archived</a>
            </li>
        </ul>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Details</th>
                        <th scope="col">Update</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Promote</th>
                        <th scope="col">Archive</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ad in @Model.Ads)
                    {
                        <tr class="trElm">
                            <td>
                                <div class="row">
                                    <div class="col text-left">
                                        From: @ad.ActiveFrom.ToString("dd/MM")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-left">
                                        To: @ad.ActiveTo.ToString("dd/MM")
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img style="height: 40px; width: 60px" src="@ad.ImageUrl" />
                                </div>
                                @if (@ad.IsPromoted)
                                {
                                    <div class="mt-2">
                                        <span class="label warning">Promo</span>
                                    </div>
                                }
                            </td>

                            <vc:title-length ad-title="@ad.Title"></vc:title-length>
                            <td>@ad.Price$</td>
                            <td>
                                <a asp-controller="Ads" asp-action="Details" asp-route-id="@ad.Id" class="btn btn-info">Details</a>
                            </td>
                            <td>
                                <a asp-controller="Ads" asp-action="Update" asp-route-adId="@ad.Id" class="btn btn-success">Update</a>
                                <div><small>Available: @ad.Updates</small></div>
                            </td>
                            <td>
                                <a asp-controller="Ads" asp-action="Edit" asp-route-id="@ad.Id" class="btn btn-warning">Edit</a>
                            </td>
                            <td><a asp-controller="Promotions" asp-action="Index" asp-route-adId="@ad.Id" class="btn btn-primary">Promote</a></td>
                            <td><button type="button" value="@ad.Id" class="btn btn-danger archive">Archive</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    var prevDisabled = !Model.Ads.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Ads.HasNextPage ? "disabled" : "";
}
<div class="row mt-3">
    <nav class="col d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="ActiveAds"
                   asp-route-pageNumber="@(Model.Ads.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @prevDisabled">
                    &laquo;
                </a>
            </li>
            @if (Model.Ads.TotalPages > 1)
            {
                for (int i = 1; i <= Model.Ads.TotalPages; i++)
                {
                    if (Model.Ads.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="ActiveAds"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="ActiveAds"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="ActiveAds"
                   asp-route-pageNumber="@(Model.Ads.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @nextDisabled">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
</div>

<partial name="_ModalPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/archive-ad.js" asp-append-version="true"></script>
}

