@model AdsBySubcategoryViewModel

<div class="row">
    <div class="col">
        <div class="jumbotron jumbotron-fluid jumbotron-sell-me">
            @for (int i = 0; i < Model.AdsByCategorySubcategoryViewModels.Count; i += 4)
            {
                <div class="row justify-content-start my-4">
                    @for (int j = i; j < i + 4; j++)
                    {
                        if (j < Model.AdsByCategorySubcategoryViewModels.Count)
                        {
                            if (Model.AdsByCategorySubcategoryViewModels[j].Id == Model.SubcategoryId)
                            {
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <a asp-controller="Ads" asp-action="AdsBySubcategory" asp-route-categoryId="@Model.CategoryId" asp-route-subcategoryId="@Model.AdsByCategorySubcategoryViewModels[j].Id">
                                        <h5 class="text-dark">-@Model.AdsByCategorySubcategoryViewModels[j].Name-</h5>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <a asp-controller="Ads" asp-action="AdsBySubcategory" asp-route-categoryId="@Model.CategoryId" asp-route-subcategoryId="@Model.AdsByCategorySubcategoryViewModels[j].Id">
                                        <h5>-@Model.AdsByCategorySubcategoryViewModels[j].Name-</h5>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

@foreach (var ad in Model.AdsBySubcategoryViewModels)
{
    <vc:listed-ad view-model="@ad"></vc:listed-ad>
}
@{
    var prevDisabled = !Model.AdsBySubcategoryViewModels.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AdsBySubcategoryViewModels.HasNextPage ? "disabled" : "";
}
<div class="row">
    <nav class="col d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="AdsBySubcategory"
                   asp-route-pageNumber="@(Model.AdsBySubcategoryViewModels.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @prevDisabled">
                    &laquo;
                </a>
            </li>
            @if (Model.AdsBySubcategoryViewModels.TotalPages > 1)
            {
                for (int i = 1; i <= Model.AdsBySubcategoryViewModels.TotalPages; i++)
                {
                    if (Model.AdsBySubcategoryViewModels.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="AdsByCategory"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="AdsByCategory"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="AdsByCategory"
                   asp-route-pageNumber="@(Model.AdsBySubcategoryViewModels.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @nextDisabled">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
</div>

<partial name="_AddToFavoritesModalPartial" />
<partial name="_RemoveFromFavoritesModalPartial" />

@section Scripts{
    <script src="~/js/add-to-favorites.js" asp-append-version="true"></script>
}