@model AdsByCategoryViewModel

<div class="row">
    <div class="col-3">
        <div class="d-flex justify-content-start card">
            <div class="card-header">
                All Categories
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var category in @Model.Categories)
                {
                    <li class="list-group-item"><a asp-controller="Ads" asp-action="AdsByCategory" asp-route-id="@category.Id">@category.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        @foreach (var ad in @Model.AdsViewModels)
        {
            <div class="d-flex justify-content-center mb-4">
                <div class="card border-dark" style="width: 30rem;">
                    <img class="card-img-top" src="@ad.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@ad.Title</h5>
                        <ul class="list-group list-group-flush ul-custom">
                            <li class="list-group-item row"><i class="fas fa-dollar-sign"></i> Price: @ad.Price</li>
                            <li class="list-group-item row"><i class="fas fa-chess-queen"></i> @ad.CategoryName/@ad.SubcategoryName</li>
                            <li class="list-group-item row"><i class="far fa-calendar-alt"></i> @ad.CreatedOn.ToString("dd/MM/yyyy")</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>