@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@model AdsAllViewModel
@inject IUsersService UsersService

@{
    ViewData["Title"] = "Ads all";
    var currentUser = this.UsersService.GetCurrentUser();
}

<div class="row">
    <vc:categories-side-bar>
    </vc:categories-side-bar>
    <div class="offset-1 col-4 pl-0">
        @foreach (var ad in @Model.AdsViewModels)
        {
            <div class="mb-4">
                <div class="card border-dark" style="width: 30rem;">
                    <img class="card-img-top" src="@ad.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@ad.Title</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item row"><i class="fas fa-dollar-sign"></i> Price: @ad.Price</li>
                            <li class="list-group-item row"><i class="fas fa-folder"></i> @ad.CategoryName/@ad.SubcategoryName</li>
                            <li class="list-group-item row"><i class="far fa-calendar-alt"></i> @ad.CreatedOn.ToString("dd/MM/yyyy")</li>
                        </ul>
                        <div class="row">
                            <div class="col-6">
                                <a asp-controller="Ads" asp-action="Details" asp-route-id="@ad.Id" class="btn btn-primary btn-block mt-4">Details</a>
                            </div>
                            <div class="col-6">
                                @if (currentUser == null || !currentUser.SellMeUserFavoriteProducts.Any(x => x.AdId == ad.Id && x.SellMeUserId == currentUser.Id))
                                {
                                    <button type="button" value="@ad.Id" class="btn btn-primary btn-block mt-4 addToFavorites" id="@ad.Id">Add To Favorites</button>
                                }
                                else
                                {
                                    <button type="button" value="@ad.Id" class="btn btn-danger btn-block mt-4 removeFromFavorites" id="@ad.Id">Remove From Favorites</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/add-to-favorites.js"></script>
}

