@model ArchivedAdsBindingModel

<h3 class="text-center">My Archived Ads:</h3>
<hr class="hr-sell-me" />
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="ActiveAds">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Archived</a>
            </li>
        </ul>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Activate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ad in @Model.Ads)
                    {
                        <tr class="removeElement">
                            <td><img style="height: 40px; width: 60px" src="@ad.ImageUrl" /></td>
                            <td>@ad.Title</td>
                            <td>@ad.Price$</td>
                            <td>
                                <a asp-controller="Ads" asp-action="Edit" asp-route-id="@ad.Id" class="btn btn-warning">Edit</a>
                            </td>
                            <td><button type="button" value="@ad.Id" class="btn btn-success activate">Activate</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    var prevDisabled = !Model.Ads.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Ads.HasNextPage ? "disabled" : "";
}
<div class="row mt-3">
    <nav class="col d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="ArchivedAds"
                   asp-route-pageNumber="@(Model.Ads.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @prevDisabled">
                    &laquo;
                </a>
            </li>
            @if (Model.Ads.TotalPages > 1)
            {
                for (int i = 1; i <= Model.Ads.TotalPages; i++)
                {
                    if (Model.Ads.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="ArchivedAds"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="ArchivedAds"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                }
            }
            <li class="page-item">
                <a asp-action="ArchivedAds"
                   asp-route-pageNumber="@(Model.Ads.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn page-link btn-default @nextDisabled">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

