@using System.Web
@model AdDetailsViewModel
@{
    ViewData["Title"] = "Ad details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Ads" asp-action="All">All</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="offset-2 col-4">
            <div class="sellMe-img mt-3">
                <img src="@Model.Images.FirstOrDefault()" alt="@Model.Title" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-6 mt-2">
            <h3 class="">@Model.Title</h3>
            <hr class="hr-sell-me"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-3 mt-1">
            <h5 class="text-muted"><i class="far fa-clock"></i> @Model.CreatedOn.ToString("D")</h5>
        </div>
        <div class="col-3 mt-1">
            <h5 class="text-muted"><i class="fas fa-map-marker-alt"></i> @Model.AddressViewModel.City, @Model.AddressViewModel.Country</h5>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-3 mt-2">
            <h5 class="text-muted"><i class="fas fa-battery-full"></i> @Model.ConditionName</h5>
        </div>
        <div class="col-3 mt-2">
            <h5 class="text-muted"><i class="fas fa-folder"></i> @Model.CategoryName, @Model.SubcategoryName</h5>
        </div>
        <div class="offset-2 col-6">
            <hr class="hr-sell-me" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-6 mt-3">
            <p>@Html.Raw(HttpUtility.HtmlEncode(@Model.Description).Replace("\n", "<br/>"))</p>
        </div>
    </div>
    @foreach (var imageUrl in @Model.Images.Skip(1))
    {
        <div class="row">
            <div class="offset-2 col-4 mt-1">
                <div class="sellMe-img mt-3">
                    <img src="@imageUrl" alt="@Model.Title" />
                </div>
            </div>
        </div>
    }
</div>