@using SellMe.Services
@model EditAdBindingModel
@inject IAddressService AddressService
@inject IConditionsService ConditionsService
@{
    ViewData["Title"] = "Edit ad";
    var conditions = this.ConditionsService.GetConditionViewModels();
    var countries = this.AddressService.GetAllCountries();
}

<div class="container-fluid">
    <form asp-controller="Ads" asp-action="Edit" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-center">Ad Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Title">Title</label>
                    <input asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Title" value="@Model.EditAdViewModel.EditAdDetailsViewModel.Title" class="form-control">
                    <span asp-validation-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Title" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Choose Category</label>
                        <select class="form-control" disabled="">
                            <option>@Model.EditAdViewModel.EditAdDetailsViewModel.CategoryName</option>"
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Choose Subcategory</label>
                        <select class="form-control" disabled="">
                            <option>@Model.EditAdViewModel.EditAdDetailsViewModel.SubcategoryName</option>"
                        </select>
                    </div>
                    <div class="col">
                        <span class="badge badge-secondary badge-edit">The category and subcategory fields can't be changed.</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Price">Price</label>
                        <input asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Price" type="number" value="@Model.EditAdViewModel.EditAdDetailsViewModel.Price" class="form-control" placeholder="Enter price">
                        <span asp-validation-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Availability">Availability</label>
                        <input asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Availability" value="@Model.EditAdViewModel.EditAdDetailsViewModel.Availability" class="form-control" placeholder="Enter availability">
                        <span asp-validation-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Availability" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.ConditionId">Condition</label>
                    <select asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.ConditionId" class="form-control">
                        <option selected="true" disabled="disabled">--Select--</option>"
                        @foreach (var condition in conditions)
                        {
                            if (condition.Name == @Model.EditAdViewModel.EditAdDetailsViewModel.ConditionName)
                            {
                                <option value="@condition.Id" selected="selected">@condition.Name</option>
                                continue;
                            }
                            <option value="@condition.Id">@condition.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.EditAdInputModel.EditAdDetailsInputModel.ConditionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Description">Description</label>
                    <textarea id="@Html.IdFor(m => m.EditAdInputModel.EditAdDetailsInputModel.Description)" name="@Html.NameFor(m => m.EditAdInputModel.EditAdDetailsInputModel.Description)" class="form-control" rows="5">@Model.EditAdViewModel.EditAdDetailsViewModel.Description</textarea>
                    <span asp-validation-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Images">Upload images:</label>

                    <div class="row">
                        @foreach (var image in @Model.EditAdViewModel.EditAdDetailsViewModel.Images)
                        {
                            <div class="col-6 mb-2">
                                <img src="@image" style="height: 180px; width: 220px;" class="card-img img-thumbnail" alt="..." />
                            </div>
                        }
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input upload-file" asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Images">
                                    <label class="custom-file-label" asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Images">Choose file</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input upload-file" asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Images"/>
                                    <label class="custom-file-label" asp-for="@Model.EditAdInputModel.EditAdDetailsInputModel.Images">Choose file</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-center">Contact Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.Country">Country</label>
                    <select asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.Country" class="form-control">
                        @*TODO: refactor this*@
                        @foreach (var country in @countries)
                        {
                            if (country == @Model.EditAdViewModel.EditAdAddressViewModel.Country)
                            {
                                <option selected="selected">@country</option>
                                continue;
                            }
                            <option>@country</option>

                        }
                    </select>
                    <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.Country" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.City">City</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.City" value="@Model.EditAdViewModel.EditAdAddressViewModel.City" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.Street">Street Address</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.Street" value="@Model.EditAdViewModel.EditAdAddressViewModel.Street" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.Street" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.District">District</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.District" value="@Model.EditAdViewModel.EditAdAddressViewModel.District" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.District" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.ZipCode">Zip/Postal Code</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.ZipCode" value="@Model.EditAdViewModel.EditAdAddressViewModel.ZipCode" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.PhoneNumber">Phone Number</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.PhoneNumber" value="@Model.EditAdViewModel.EditAdAddressViewModel.PhoneNumber" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.EmailAddress">Email Address</label>
                            <input asp-for="@Model.EditAdInputModel.EditAdAddressInputModel.EmailAddress" , value="@Model.EditAdViewModel.EditAdAddressViewModel.EmailAddress" class="form-control">
                            <span asp-validation-for="@Model.EditAdInputModel.EditAdAddressInputModel.EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <button type="submit" class="btn btn-dark col-2">Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(document).ready(function () {
            $('.upload-file').on('change', function() {
                let file = $(this).files;
                var formData = new FormData();
                formData.append('file', file[0]);
                console.log(formData);
            });
        });
    </script>
}
