@model IEnumerable<RejectedByUserAdViewModel>

<h3 class="text-center">Waiting for approval</h3>
<hr class="hr-sell-me" />
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="ActiveAds">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="WaitingForApproval">Waiting for approval</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Rejected</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ads" asp-action="ArchivedAds">Archived</a>
            </li>
        </ul>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Title</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Submit changes</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var rejection in @Model)
                {
                    <tr class="elm">
                        <td><img style="height: 40px; width: 60px" src="@rejection.ImageUrl" /></td>
                        <td>@rejection.AdTitle</td>
                        <td>@rejection.Comment</td>
                        <td>
                            <a asp-controller="Ads" asp-action="Details" asp-route-id="@rejection.AdId" class="btn btn-info">Details</a>
                        </td>
                        <td>
                            <a asp-controller="Ads" asp-action="Edit" asp-route-id="@rejection.AdId" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-success create-button" value="@rejection.Id">Submit changes</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ModalPartial" />

@section Scripts
{
    <script src="~/js/submit-rejection-changes.js" asp-append-version="true"></script>
}