@model PromotionBindingModel

<h3 class="text-center">@Model.AdTitle</h3>
<h5 class="text-center text-danger mb-3 mt-3">@TempData["SuccessfullyPromotedMessage"]</h5>
<hr class="hr-sell-me" />
<div class="row d-flex justify-content-around">
    @foreach (var promotion in @Model.PromotionViewModels)
    {
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
                <h4 class="text-center">@promotion.Type</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5 class="text-info text-center"><i class="fas fa-handshake"></i> @promotion.ActiveDays Days TOP Ad</h5></li>
                <li class="list-group-item"><h5 class="text-info text-center"><i class="fas fa-sync-alt"></i> @promotion.Updates Updates</h5></li>
                <li class="list-group-item"><h5 class="text-info text-center"><i class="fas fa-dollar-sign"></i> @promotion.Price$</h5></li>
            </ul>
            <div class="row">
                <div class="offset-3 col-6">
                    <form asp-controller="Promotions" asp-action="Buy" method="post">
                        <input type="hidden" asp-for="@Model.PromotionInputModel.AdId" value="@Model.AdId" />
                        <input type="hidden" asp-for="@Model.PromotionInputModel.PromotionId" value="@promotion.Id" />
                        <button type="submit" asp-controller="Promotions" asp-action="Buy" class="btn btn-primary btn-block mt-2 mb-2">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
