@model PromotedAdViewModel
@inject IUsersService UsersService

@{
    var currentUser = await this.UsersService.GetCurrentUserAsync();
}

<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 sell-me-container-image">
    <div class="row">
        <div class="col">
            <a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.Id"><img class="promo-img" src="@Model.MainPictureUrl" alt="@Model.Title" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong><a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @Model.Price $
        </div>
        <div class="offset-3 col-3">
            @if (currentUser == null || !currentUser.SellMeUserFavoriteProducts.Any(x => x.AdId == @Model.Id && x.SellMeUserId == currentUser.Id))
            {
                <button value="@Model.Id" id="@Model.Id" class="btn addToFavorites"><img src="~/img/not-favorite-index.png" alt="not-favorite" /></button>
            }
            else
            {
                <button value="@Model.Id" id="@Model.Id" class="btn removeFromFavorites"><img src="~/img/favorite-index.png" alt="favorite" /></button>
            }
        </div>
    </div>
</div>

@*@for (int i = 0; i < @Model.Count; i += 4)
    {
        <div class="row justify-content-start my-3 mx-0">
            <div class="card-deck">
                @for (int j = i; j < i + 4; j++)
                {
                    if (j < @Model.Count)
                    {

                        <div class="card">
                            <img style="max-height: 250px; max-width: 280px" class="card-img-top" src="@Model[j].MainPictureUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }*@

